# 'donutgame' submodules
[submodule "donutgame/externals/rapidjson"]
	path = donutgame/externals/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "donutgame/externals/cpp-httplib"]
	path = donutgame/externals/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
